@font-face {
  font-family: 'Caslon';
  font-weight: 400;
  src: url("../typos/ACaslonPro-Regular.otf");
}

@font-face {
  font-family: 'Baskerville';
  font-weight: 700;
  src: url("../typos/Baskerville Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Moderat';
  font-weight: normal;
  src: url("../typos/Moderat-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Moderat';
  font-weight: 700;
  src: url("../typos/Moderat-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Caslon';
  src: url("../typos/ACaslonPro-Regular.otf");
}


@font-face {
  font-family: 'Source Sans Pro';
  src: url("../typos/SourceSansPro-Regular.ttf");
}

